## template:jinja
[Unit]
Description=Apply the settings specified in cloud-config
After=network-online.target cloud-config.target
Before=systemd-user-sessions.service
Wants=network-online.target cloud-config.target
ConditionPathExists=!/etc/cloud/cloud-init.disabled
ConditionKernelCommandLine=!cloud-init=disabled
ConditionEnvironment=!KERNEL_CMDLINE=cloud-init=disabled

[Service]
Type=oneshot
ExecStart=python3 -c 'import socket as s; c = s.socket(s.AF_UNIX, s.SOCK_STREAM); c.connect("/run/cloud-init/config"); c.sendall(b"start"); response = c.recv(5); c.close(); exit(b"done" != response);'
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=cloud-init.target
